body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}
.Form-container{
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.h3{
    text-align: center;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
    width: 500px;
    margin: 40px auto;
    padding: 20px; 
}
.form-label{
    display: block;
    margin-bottom: 20px;
    width: 500px;
}
.form-input{
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.select-input{
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.asteris{
    color: red;
}
