/* Basic styling for image sliding */
body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
.slider-container{
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
.slide-img{
    width: 100%;
    height: auto;
    transition: opacity 1s ease;
}
.change-img-btn{
    position: absolute;
    top: 10px;
    left: 50%;
    transition: translateX(-50%);
    background-color: rbga(0,0,0,0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.change-img-btn:hover{
    background-color: rbga(0, 0, 0, 0.7);
}